<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_area :description, :placeholder => "Description of purchase" %>
    <%= f.number_field :amount, :class => 'text_field', :step => 'any', :placeholder => "Purchase amount" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <!--Show list of all events -->
    <%= f.select(:event_id, current_user.events.map {|p| [p.name,p.id]}, :prompt => "Select an Event", :selected => @pre_selected_event) %>
    <%= f.submit :class => "my-btn gr-btn"%>

<% end %>
