<h1>Listing purchases</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>

        <td><%= link_to purchase.event.name, event_path(purchase.event) %></td>
        <td><%= purchase.description %></td>
        <td><%= purchase.amount %></td>


        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
