<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @purchase.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @purchase.amount %>
</p>

<p>
  <strong>Created by:</strong>
  <%= "#{@purchase.user.first_name} #{@purchase.user.last_name}" %>
</p>

<p>
  <strong>Event:</strong>
  <%= @purchase.event.name %>
</p>




<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
