<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, :placeholder => "Event name" %>
    <%= f.text_area :description, :placeholder => "Description of the event"%>
  <% if @event.new_record? %>
    <%= fields_for(@user_event_balance) do |usb| %>
        <%= usb.label "Choose users participating in the event (choose multiple with ctrl+click)" %> <br />
        <%= collection_select(:users, :id, User.find(:all, :conditions => ["id != ?", current_user.id]), :id, :email, {}, {:multiple => true, :size => 10, class:"chzn-select medium"}) %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit :class => "my-btn gr-btn"%>
  </div>
<% end %>
