<div id="events-left">

<table class="table event-table">
  <thead>
    <tr>
      <th>Event Name</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td class="event-name"><%= link_to event.name, event_path(event) %></td>       
        <td class="event-row-actions">
          <% if event.closed == false %>
          
            <%= link_to new_payment_url + "?event_id=" + event.id.to_s(), :method => :get, :title => "Add payment" do %>
            <i class="fa fa-money fa-2x"></i>
            <% end %>

            <%= link_to new_purchase_url + "?event_id=" + event.id.to_s(), :method => :get, :title => "Add purchase" do %>
            <i class="fa fa-shopping-cart fa-2x"></i>
            <% end %>
            
          <% end %>
        
          <% if event.organizer.id == current_user.id %>
            <% if event.closed == false %>
              <%= link_to close_event_path(event), :method => :get, :title => "Close event", data: {confirm: "Are you sure? This will make users unable to add any more purchases or payments to the event!"} do %>
              <i class="fa fa-check-circle fa-2x"></i>
              <% end %>

              <%= link_to edit_event_path(event), :method => :get, :title => "Edit event" do %>
              <i class="fa fa-edit fa-2x"></i>
              <% end %>
            <% end %>
              
            <%= link_to event, :method => :delete, :title => "Delete event", data: {confirm: 'Are you sure you want to delete this event?'} do %>
            <i class="fa fa-trash-o fa-2x"></i>
            <% end %>

          <% end %>
        </td>

        <td class="event-row-text pull-right">
          <% if event.find_user_event_balance(current_user.id).debt > 0 %>
            You owe <text class="debt-text"><%=number_to_currency(event.find_user_event_balance(current_user.id).debt)%></text>
            <% elsif event.find_user_event_balance(current_user.id).credit > 0 %>
            You're owed <text class="credit-text"><%=number_to_currency(event.find_user_event_balance(current_user.id).credit)%></text>
            <% else %>
            Settled up!
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div id="events-right">
  <h2 class="my-h2" id="owe-text">You owe: <text id="total-debt"><%= number_to_currency(current_user.total_debt) %></text></h2>
  <h2 class="my-h2" id="owed-text">You're owed: <text id="total-credit"><%= number_to_currency(current_user.total_credit) %></text></h2>
  <%= button_to('New Event', new_event_path, :class => 'my-btn gr-btn', :method => :get) %>
  <%= button_to('Purchase History', purchases_path, :class => 'my-btn gr-btn', :method => :get) %>
  <%= button_to('Payment History', payments_path, :class => 'my-btn gr-btn', :method => :get) %>
  </div>  




