<div id="events-show-left">
	<h3 class="organizer-text">Organizer</h3>
	<p><%= "#{@event.organizer.first_name} #{@event.organizer.last_name}" %></p>
	<table class="table member-table">
		<thead>
			<tr>
				<th>Members</th>
			</tr>
		</thead>
		<tbody>
			<% @event.users.each do |user| %>
				<tr>
					<td class="member-name"><%="#{user.first_name} #{user.last_name}"%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div id="events-show-middle">
	<h2 id="event-title">
		<%= @event.name %>
		<%= link_to edit_event_path(@event), :method => :get, :title => "Edit event" do %>
              <i class="fa fa-edit"></i>
              <% end %>
	</h2>
	<p class="event-description"><%= @event.description %></p>

	<table class="table purchase-table">
		<thead>
			<tr>
				<th>Purchases</th>
			</tr>
		</thead>
		<tbody>
			<% @event.purchases.each do |purchase| %>
			<tr>
				<td><%= purchase.description  %></td>
				<td><%= "#{purchase.user.first_name} #{purchase.user.last_name}" %></td>
				<td class="p-amount"><%=number_to_currency(purchase.amount) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<table class="table payment-table">
		<thead>
			<tr>
				<th>Payments</th>
			</tr>
		</thead>
		<tbody>
			<% @event.payments.each do |payment| %>
			<tr>
				<td><%= payment.description%></td>
				<td><%= "#{payment.user.first_name} #{payment.user.last_name}" %></td>
				<td class="p-amount"><%= payment.amount%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div id="events-right">
	<h2 class="my-h2" id="total-text">Event total: <text id="total-amount"><%= number_to_currency(@event.total_balance) %></text></h2>
	<h2 class="my-h2" id="total-text">Your split: <text id="total-amount"><%= number_to_currency(@event.total_balance / @event.users.length)%></text></h2>
  <h2 class="my-h2" id="owe-text">You owe: <text id="total-debt"><%= number_to_currency(@event.find_user_event_balance(current_user.id).debt) %></text></h2>
  <h2 class="my-h2" id="owed-text">You're owed: <text id="total-credit"><%= number_to_currency(@event.find_user_event_balance(current_user.id).credit) %></text></h2>

  <%= button_to('Add Purchase', new_purchase_url(@event), :class => 'my-btn gr-btn', :method => :get) %>

  <%= button_to('Pay up!', new_payment_url(@event), :class => 'my-btn gr-btn', :method => :get) %>

</div>  

<!-- <div class="row">
	<div class="span2 event_left_sidebar">
		<%= button_to('Edit Event', edit_event_path(@event), :class => 'btn btn-med btn-primary', :method => :get) %>
		<h3>Organizer:</h3>
		<h4><%= @event.organizer.first_name %></h4>
		<h3>Members</h3>
		<% @event.users.each do |user|  %>
		<p><%="#{user.first_name} #{user.last_name}"%></p>
		<% end %>
	</div>
	<div class="span7">
		<p class="event_name">
		  <h2><%= @event.name %></strong></h2>	
		</p>

		<p class="event_description">
		  <%= @event.description %>
		</p>
		<div class="row">
			<div class="span3 purchase_list">
				<h4>Purchases</h4>
				<% @event.purchases.each do |purchase| %>
				<div class="row">
					<div class="span2">
						<p><%= purchase.description %></p>
					</div>
					<div class="span1">
						<p><strong><%= number_to_currency(purchase.amount)%></strong></p>
					</div>
				</div>
				<% end %>
			</div>
			<div class="span3 payment_list">
				<h4>Payments</h4>
				<% @event.payments.each do |payment| %>
				<div class="row">
					<div class="span2">
						<p><%= "#{payment.user.first_name} #{payment.user.last_name}" %></p>
					</div>
					<div class="span1">
						<p><strong><%= number_to_currency(payment.amount)%></strong></p>
					</div>
				</div>	
				<% end %>
			</div>
		</div>


		
	</div>
</div>


<%= link_to 'Back', events_path %> -->

