<div id="events-show-left">
	<%= button_to events_path, :class => 'my-btn gr-btn', :method => :get do %>
	Back to all events
	<% end %>
	<h3 class="organizer-text">Organizer</h3>
	<p><%= "#{@event.organizer.first_name} #{@event.organizer.last_name}" %></p>
	<table class="table member-table">
		<thead>
			<tr>
				<th>Members</th>
			</tr>
		</thead>
		<tbody>
			<% @event.users.each do |user| %>
				<tr>
					<td class="member-name"><%="#{user.first_name} #{user.last_name}"%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div id="events-show-middle">
	<h2 id="event-title">
		<%= @event.name %>
		<% if @event.organizer.id == current_user.id %>
		<%= link_to edit_event_path(@event), :method => :get, :title => "Edit event" do %>
              <i class="fa fa-edit"></i>
              <% end %>
        <% end %>
	</h2>

	<p class="event-description"><%= @event.description %></p>

	<table class="table purchase-table">
		<thead>
			<tr>
				<th>Purchases</th>
			</tr>
		</thead>
		<tbody>
			<% @event.purchases.each do |purchase| %>
			<tr>
				<td><%= purchase.description  %></td>
				<td><%= "#{purchase.user.first_name} #{purchase.user.last_name}" %></td>
				<td class="p-amount"><%=number_to_currency(purchase.amount) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<table class="table payment-table">
		<thead>
			<tr>
				<th>Payments</th>
			</tr>
		</thead>
		<tbody>
			<% @event.payments.each do |payment| %>
			<tr>
				<td><%= payment.description%></td>
				<td><%= "#{payment.user.first_name} #{payment.user.last_name}" %></td>
				<td class="p-amount"><%= payment.amount%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div id="events-right">
	<% if @event.closed %>
		<h2 class="my-h2 closed-text" id="total-text">This event is closed</h2>
	<% end %>
	<h2 class="my-h2" id="total-text">Event total: <text id="total-amount"><%= number_to_currency(@event.total_balance) %></text></h2>
	<h2 class="my-h2" id="total-text">Your split: <text id="total-amount"><%= number_to_currency(@event.total_balance / @event.users.length)%></text></h2>
  <h2 class="my-h2" id="owe-text">You owe: <text id="total-debt"><%= number_to_currency(@event.find_user_event_balance(current_user.id).debt) %></text></h2>
  <h2 class="my-h2" id="owed-text">You're owed: <text id="total-credit"><%= number_to_currency(@event.find_user_event_balance(current_user.id).credit) %></text></h2>

	<% if @event.closed == false %>
		<%= button_to new_purchase_url, :class => 'my-btn gr-btn', :method => :get do %>
		Add Purchase
		<%= hidden_field_tag :event_id, @event.id %>
		<% end %>

		<%= button_to new_payment_url(@event), :class => 'my-btn gr-btn', :method => :get do %>
		Pay up!
		<%= hidden_field_tag :event_id, @event.id %>
		<% end %>

		<% if current_user.id == @event.organizer.id %>
			<%= button_to close_event_path(@event), :method => :get, :title => "Close event", :class => 'my-btn gr-btn', data: {confirm: "Are you sure? This will make users unable to add any more purchases or payments to the event!"} do %>
	        Close event      
	        <% end %>
        <% end %>
	<% end %>

  

   <% if current_user.id == @event.organizer.id %>
	<%= button_to event_path, :method => :delete, :class => 'my-btn gr-btn', :title => "Delete event", data: {confirm: 'Are you sure you want to delete this event?'} do %>
		Delete event
    <% end %>
   <% end %>

</div>  

