<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.number_field :amount, :class => 'text_field', :step => 'any', :placeholder => "Amount" %>
    <%= f.text_area :description, :placeholder => "Description" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <!--Show list of all events -->
    <%= f.select(:event_id, current_user.events.all.map {|p| [p.name,p.id]}, :prompt => "Select an Event", :selected => @pre_selected_event) %>
    <%= f.submit :class => "my-btn gr-btn"%>
<% end %>
