<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <!--Show list of all events -->
  <div class="field">
    <%= f.label :Event %><br>
    <%= f.select(:event_id, current_user.events.all.map {|p| [p.name,p.id]}, :prompt => "Select an Event") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
