<h1>Listing payments</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.description %></td>
        <td><%= payment.amount %></td>
        <td><%= link_to payment.event.name, event_path(payment.event) %></td>
        <td><%= link_to 'Show', payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
