<!DOCTYPE html>
<html>
<head>
  <title>PaymentSplit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="user_nav">
  <% if current_user %>
  Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %> <h3>
  <% else %>
  <%= link_to "Sign up", sign_up_path %> or
  <%= link_to "log in", log_in_path %>
  <% end %>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</div>


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

      </button>
      <a class="brand"  <%= link_to "PaymentSplit", events_path %>

      </a>



    </div>

  </div>

</div>



<div class="container">
 <%= yield %>
</div>
</body>
</html>
