<!DOCTYPE html>
<html>
<head>
  <title>PaymentSplit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>





<% if current_user %>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

      </button>
      <a class="brand"  <%= link_to "PaymentSplit", events_path %>

      </a>
      <!-- <div id="user_nav pull-left"> -->
      <div>
        <p id="logout-text" class="pull-right">
          Logged in as <%= current_user.email %>.
            <%= link_to "Log out", log_out_path %>
            <!--<%= link_to "Sign up", sign_up_path %> -->
            <!-- <%= link_to "log in", log_in_path %> -->
        </p>
      </div>
      <!-- </div> -->


    </div>

  </div>

</div>
<% end %>

<!-- <span class="flash-span"> -->
  
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :class => "flash", :id => "flash_#{name}" %>
<% end %>

<!-- </span> -->

<div class="container">
 <%= yield %>
</div>
</body>
</html>
