<!DOCTYPE html>
<html>
<head>
  <title>DeborahcGcosmin0LourdProj3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    <h3> Logged in as <b> <%= current_user.first_name %>. </b>
    <%= link_to "Log out", log_out_path %> <h3>
  <% else %>
    <h3>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
    <h3>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
