<!DOCTYPE html>
<html>
<head>
  <title>PaymentSplit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>





<% if current_user %>
<div class="my-navbar">
      <a class="brand pull-left"  <%= link_to "Split-Pay", events_path %></a>
        <p id="logout-text" class="pull-right">
          <strong><%= current_user.email %></strong>
            <%= link_to "Log out", log_out_path %>
            <!--<%= link_to "Sign up", sign_up_path %> -->
            <!-- <%= link_to "log in", log_in_path %> -->
        </p>

</div>
<% end %>

  
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :class => "flash", :id => "flash_#{name}" %>
<% end %>

<!-- <div class="container"> -->
 <%= yield %>
<!-- </div> -->
</body>
</html>
